.addTransaction {
    border: 2px solid $colorPrimary;
    padding: 1rem;
    &>h3 {
        color: $colorSecondary;
        &>span {
            color: $colorPrimary;
        }
    }
    &__form>form {
        display: flex;
        justify-content: space-between;
        &>input {
            border-radius: 7px;
        }
    }
}