.addTransaction {
    border: 2px solid $colorPrimary;
    padding: 1rem;
    &>h3 {
        color: $colorSecondary;
        &>span {
            color: $colorPrimary;
        }
    }
    &__form {
        display: flex;
        justify-content: space-between;

        &--type {
            flex: 1;
            display:flex;
        }
        &--date {
            flex: .5;
            display:flex;
        }
        &--note {
            flex: 5;
            display:flex;
            &>input {
                width: 100%;
            }
        }
        &--amount {
            flex: .5;
            display:flex;
        }
        &--submit {
            flex: 1;
        }
        &>div>label,
        &>div>input,
        &>div>select {
            margin-right: .5rem;
            border-radius: 7px;
        }
    }
}