.mainPage {
    padding: 2rem 4rem 0 4rem;

    @include respond(portrait) {
        padding: 1rem 2rem 0 2rem;
    }
    @include respond(phone) {
        padding: .5rem 1rem 0 1rem;
    }

    &__piggyName {
        color: $colorPrimary;
    }
    &>h1>span {
        color: $colorPrimary;
    }
    &__bankImage {
        position: relative;
        height: 400px;
        &>img,
        &>p {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
        &>p {
            font-size: 40px;
            top: 44%;
        }
    }

    &__switchPiggy {
        &>h1 {
            margin-bottom: 15px;
            color: $colorPrimary;
        }
        &>p {
            color: $colorSecondary;
        }
        &>select {
            padding: 10px;
            font-size: 16px;
            border-radius: 7px;
            margin-right: 25px;
        }

        &>button {
            font-size: 18px;
        }
    }
}