.mainBoard {
    padding: 2rem 4rem 0 4rem;

    &>h1>span {
        color: $colorPrimary;
    }
    &__bankImage {
        position: relative;
        height: 400px;
        border-bottom: 30px solid $colorPrimary;
        &>img,
        &>p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
        &>p {
            font-size: 40px;
            top: 57%;
        }
    }
}