.transactions {
    padding: 0 2rem 0 2rem;
    @include respond(portrait) {
        padding: 0;
    }

    &__headers {
        display:flex;
        @include respond(phone) {
            display: block;
        }

        margin-top: 1.5rem;
        &--type {
            flex: 3;
        }
        &--note {
            flex: 8;
        }
        &--amount {
            flex: 2;
        }
        &--balance {
            flex: 1;
        }       
    }
    &__lineItem { 
        padding-top: 1.5rem;
        font-size: 110%;
        @include respond(landscape) {
            font-size: 90%;
        }
        @include respond(phone) {
            font-size: 80%;
        }
        &--line1 {
            display: flex;                         
            justify-content: space-between;
            @include respond(portrait) {
                margin-top: 1rem;
            }
            &-datePosted {
                font-style: italic;
                margin-bottom: 8px;
            }
            &-editDelete {
                &>button {
                    font-size: 90%;
                    margin-left: .5rem;
                }
            }
        }
        
        &--line2 {
            display: flex;
            @include respond(phone) {
                display: block;
            }
    
            &-type {
                flex: 1.5;
                padding: 3px 5px;
                display: inline-flex;                     
                margin-right: 2rem;
                @include respond(portrait) {
                    margin-right: 1rem;
                }
            }
            &-note {
                flex: 5;
            }
            &-amount,
            &-balance {
                flex: 1;
            }              
        }
    }
}
