.signatureBox {
    display: block;
    margin: 25px auto;
    border: 2px solid #e47587;
    border-top: 30px solid #e47587;
    padding: 1rem;
    width: fit-content;

    & h4 {
        color: $colorPrimary;
    }
    & span {
        color: $colorSecondary;
    }
}